[2016-08-02 08:01] kris-hu opened #18 "Is this clCaffe the same with BVLC caffe's opencl branch?"
@gongzg

Hi,

Is this clCaffe the same with BVLC caffe's opencl branch?

My environment is ubuntu14.04 64-bit and Intel® Core™ i7-4770 CPU @ 3.40GHz × 8 and HD Graphics.
if I set USE_INTEL_SPATIAL := 0 in Makefile.config as default while compling, will it still use spatial conv but not GEMM?
Do you have performance reference using AlexNet as benchmark for the above environment?

Thanks

[2016-08-12 07:48] gongzg commented on #18
@kris-hu yes, this repo's opencl branch is the same as BVLC's opencl branch. The clcaffe branch is out-of-date. If you set USE_INTEL_SPATIAL := 0, it will use GEMM instead of the direct convolution kernel. You need to enable USE_INTEL_SPATIAL if you want to try direct convolution engine.

I don't have performance number on HSW GT2 machine currently. I do have some performance number on a BDW GT3 m

[2016-08-15 09:00] kris-hu commented on #18
@gongzg
In your performance reference above, is the batchsize equal to 256?

[2016-09-18 02:20] #18 closed

[2016-10-13 08:10] zuowang opened #25 "How to split FC layers into multiple parts"
It's suggested to split FC layers when more than 20 nodes? Could you tell me how to split FC layers?

[2016-10-14 02:45] cque7 commented on #25
Please refer to [cifar fc example](https://github.com/01org/caffe/blob/multi_node/examples/cifar10/fc.prototxt) on how to do model parallel. Basically you can specify "start layer" and "end layer" to split the full solver.

[2016-11-16 05:55] fangpin opened #26 "Cannot use GPU in CPU-only Caffe: check mode"
when i run the example mnist from clcaffe.
I get this error: Cannot use GPU in CPU-only Caffe: check mode.
I just following the guide of clcaffe wiki to compile

`cmake -DUSE_GREENTEA=ON -DUSE_INTEL_SPATIAL=ON -DUSE_ISAAC=ON path_to_caffe_source
# make -jn
# make -jn runtest`

I did not modify the CmakeLists.txt which is
`cmake_minimum_required(VERSION 2.8.7)
if(POLICY CMP0046)
  cmake_policy(SET

[2016-11-16 07:12] #25 closed

[2016-11-16 08:12] fangpin commented on #26
and when i run
`
cmake -DUSE_GREENTEA=ON -DUSE_INTEL_SPATIAL=ON -DUSE_ISAAC=ON path_to_caffe_source
`

it outputs that 'CPU_ONLY ON'.
all the output is below
`
fangpin@fangpin-OptiPlex-9020:~/project/clcaffe$ cmake -DUSE_GREENTEA=ON -DUSE_INTEL_SPATIAL=ON -DUSE_ISAAC=ON .
-- Boost version: 1.54.0
-- Found the following Boost libraries:
--   system
--   thread
--   filesystem
-- Found gflags  (incl

[2016-12-28 07:00] gongzg commented on #26
@fangpin please use make sure you are using the opencl branch.

[2017-01-05 14:09] psprashX opened #28 "cmake scripts define USE_CLBLAS when using OpenBLAS"
Hi, I get the below error when running make on the clCaffe branch.
.../workspace/clCaffe/caffe/src/caffe/common.cpp:24:54: fatal error: clBLAS.h: No such file or directory
     #include <clBLAS.h>                     // NOLINT
                                                      ^
compilation terminated.
[  2%] Building CXX object src/caffe/CMakeFiles/caffe.dir/device.cpp.o
make[2]: *** [src/caff

[2017-01-18 11:27] atlury commented on #28
Use the official opencl branch, I have tested it and it works!

[2017-04-25 13:06] ZdenekM opened #30 "OpenCL: Error- invalid program executable, SIGABRT"
I tried to build opencl caffe using these instructions: https://github.com/01org/caffe/wiki/clCaffe. It seems that the device can be found as ```./tools/caffe device_query -gpu all``` prints out:

[code]

But when I run ```./tools/caffe time -model ../models/bvlc_alexnet/deploy.prototxt -gpu 0```, I'm getting:

[code]

Any ideas? Many thanks in advance. The system is Ubuntu 14.04 64bit.

[2017-04-25 13:32] ZdenekM commented on #30
Ok, it seems that with ```-DUSE_ISAAC=0`` it runs fine - but unfortunately very slow - almost 10x slower than with CPU only.

[2017-04-25 13:42] ZdenekM commented on #30
clinfo:
[code]

[2017-05-09 03:30] gongzg commented on #30
@ZdenekM Could you also try latest git master version of beignet instead of version 1.1.1? If you found any further issue, please let me know.

[2017-05-10 00:04] #28 closed

[2017-05-10 00:05] #26 closed

[2017-07-07 03:38] 79rpm opened #43 "clCaffe on top of Arria10?"
Can we run clCaffe with Arria10?
If yes, what are the requirements in term or Intel BSP/SDKs?

[2017-07-07 06:24] gongzg commented on #43
@79rpm clCaffe could not run on FPGA now.

[2017-07-18 08:20] ChengzhiHuang opened #44 "Transform Error"
I run the sample from "github.com/guoyilin/FaceDetection_CNN" , but when i test it ,it jumps out this error.
I also see this question : https://github.com/BVLC/caffe/issues/4964
What should I do ?

F0717 21:13:37.515277  8184 data_transformer.cpp:683] Check failed: cv_cropped_image.rows == data_mean_.height() (227 vs. 256)

layer {
  name: "data"
  type: "ImageData"
  top: "data"
  top: "label"

[2017-07-28 08:30] gongzg commented on #44
I don't have the aflw data set so that I couldn't run the full test. I just tried to use caffe time to benchmark all the prototxts in the repository you specified, here are the results (using the fp16 version caffe):
deploy.prototxt:

build/tools/caffe-fp16.bin time -model ../FaceDetection_CNN/face_full_conv.prototxt  -gpu 0 -phase TEST
I0728 16:24:55.712425 30693 caffe-fp16.cpp:483] Average Forwa

[2017-08-03 08:43] #43 closed

[2017-08-03 08:44] #30 closed

[2017-08-18 09:58] gongzg commented on #44
This issue is not likely a clCaffe issue, so I'm going to close this issue.

[2017-08-18 09:58] #44 closed

[2017-08-25 03:03] jstumpin opened #63 "(inference-optimize is) Slower than BVLC's OpenCL(+Intel spatial)"
**Good news:**
Misclassification for batch processing (BVCL's OpenCL) has been rectified! However, prediction value remains non-probabilistic.

**Not-so-good news (as per title):**
Is it due to internal verification during initialization (see below excerpt, truncated end of the first pass out of many passes). This only happens once whenever a new network topology is introduced (e.g. 1st execution

[2017-08-25 03:23] gongzg commented on #63
@jstumpin What's the meaning of "prediction value remains non-probabilistic"?

The tuning mechanism does introduce a significant tuning time for new topologies. But it's a one-time overhead for each given topology.

As to AlexNet performance issue, it's weird. Did you specify the -phase TEST parameter? Could you add both the -phase TEST and the -lt parameter when use the caffe tool to measure the

[2017-08-25 03:55] jstumpin commented on #63
Not bounded to (0,1).

Indeed it is mentioned in [wiki](https://github.com/01org/caffe/wiki/clCaffe), my bad.

You're right, it is faster (see below) but why won't this performance materialize into the classification.cpp example?

**BVCL's OpenCL**

**Intel's inference-optimize**

[2017-08-25 05:52] gongzg commented on #63
@jstumpin  It seems that you haven't applied the layer fusion. You can get a little bit faster even with alexnet. As to the performance in classification.cpp, we need a one-time warm up before we start to measure the performance. The first run has some one-time overhead such as tuning or the kernel building/loading. Anyway, classification.cpp is not a deadicate benchmark case. If you want to use i

[2017-08-25 05:54] gongzg commented on #63
@jstumpin As to the prediction value issue, could you share your detail instruction here then I can try to reproduce it.

[2017-08-25 07:02] jstumpin commented on #63
Yep, saving layer fusion for later after resolving this issue. Could it be due to enabling python (didn't do so for BVLC's)? Mistakenly enabled python because at a glimpse, wiki seems to point out using python to fuse the layer. Then I realized it's just text processing, hence Caffe need not build with python.

I do use a slightly modified version of [classification.cpp](https://stackoverflow.com/

[2017-08-25 07:11] gongzg commented on #63
Could you use the non-modified classification.cpp to reproduce this probabolity issue? If so, please let me know. This issue isn't related to python. I used the classification example with both fp32 and fp16, all generate correct result for the label and the probabilties.

[2017-08-25 07:34] jstumpin commented on #63
I mean python screwing up the runtime performance, not accuracy. Here's the output for non-modified classification.cpp (same goes for BVLC's):

[2017-08-25 07:51] gongzg commented on #63
Oh, python may introduce some overhead.
As to the classfication example, I tested it with the builtin cat image, the result is as below:

./build/examples/cpp_classification/classification.bin   models/bvlc_reference_caffenet/deploy.prototxt   models/bvlc_reference_caffenet/bvlc_reference_caffenet.caffemodel   data/ilsvrc12/imagenet_mean.binaryproto   data/ilsvrc12/synset_words.txt   examples/imag

[2017-08-25 07:58] jstumpin commented on #63
Rebuilding then (without python)...

[2017-08-25 08:04] gongzg commented on #63
The device_query is not enough, it doesn't show the driver version. Did you have clinfo installed? If not, you can use apt-get install clinfo to install it.

[2017-08-25 08:13] jstumpin commented on #63
FYI, it's Windows.

[2017-08-25 08:57] gongzg commented on #63
Your driver version : 21.20.16.4678 is a little bit out-of-date, could you try to upgrade to the latest version which is 22.20.16.4729. I just tested it on my Windows platform for the cat.jpg, I got correct output.

[2017-08-26 06:22] jstumpin commented on #63
Updating to 22.20.16.4729 corrected the non-probabilistic output but it broke BVLC's OpenCL (the unmodified classification.cpp churns out a whole bunch of codes, as in raw c/cpp codes, and ultimately crash).

Despite having the latest ViennaCL, it turns out I was building inference-optimize against a slightly older version of ViennaCL (the version that I built BVLC's OpenCL with). Thus I fixed the

[2017-08-26 09:29] gongzg commented on #63
The new driver has some issues with the BVLC OpenCL branch. I will submit patch to BVLC OpenCL branch latter after the FP16 patch got merged as I mentioned. If you want to use Caffe with Intel iGPU. I recommend you to use this inference-optimize branch for now. The warning messages are harmless you can just ignore them.

[2017-08-27 15:22] jstumpin commented on #63
Even after re-building everything (ViennaCL & inference-optimize) using VS2017's v140 toolset (previously built using VS2013), the 1 image/sec forward pass for AlexNet is still prevalent. While warning messages are harmless, such runtime is severely prohibitive.

[2017-08-28 15:15] gongzg commented on #63
@jstumpin 1 imgs/sec is not expected. How did you measure the performance? After upgrade the driver, could you try to run the caffe tool's device_query to check the device id and use caffe time to measure the alexnet's performance, please the following command line:

caffe time -model alexnet.prototxt -gpu igpu_device_id -phase TEST -iterations 20

Then you can run it again with -lt to get the per

[2017-08-29 02:16] jstumpin commented on #63
Using this '[profiler](https://stackoverflow.com/questions/26677324/putting-execution-timing-code-into-a-function-opencv)' for execution time. Output for device_query is as before: 4 device IDs (0 & 2 iGPU, 1 & 3 CPU), so I'm just gonna fast forward to -lt since therein lies the problem (see bold text):

With -gpu 0 or 2:

With -gpu 1 or 3:

[2017-08-29 04:57] gongzg commented on #63
It looks like a benchmark bug however I can't reproduce it. Could you try to revert the following commit and try again:

commit c2b3a52d3c37c84702e9d5f86d7ff8d5998400be
Author: Zhigang Gong <zhigang.gong@intel.com>
Date:   Fri Aug 4 18:29:49 2017 +0800

    Refine caffe tool's time function.

    For per layer time measurement, we can use per layer timer to
    avoid per layer synchronization whic

[2017-08-29 10:09] jstumpin commented on #63
You're right, that was just a bug (at Caffe's end). Also it is as you described, literally excluding the very first image for measurement solved the seemingly sluggish performance for inference-optimize. However, for ResNet50, it only yielded 7 images/sec w.r.t. BVLC's OpenCL's 11 images/sec. Will try out the layer fusion soon.

[2017-08-30 06:15] gongzg commented on #63
That's still not totally normal.  Firstly, 01org should not be slower than BVLC. Secondly, Both 11 imges/sec or 7 images/sec ard too slow.  On my skull canyon nuc machine, I got the following performance number:

With batch size 1:
Original resnet50: 23.8 imgs/sec
Fused resnet50 : 39 imgs/sec

With batch size 16:
Original resnet50: 34.2 imgs/sec
Fused resnet50:  67.8 imgs/sec

My skull canyon is a

[2017-08-30 16:58] jstumpin commented on #63
Okay fresh start, new NUC (NUC7i7BNH, same as before, different unit). Rebuilding everything yielded the following outcome:

With batch size 1:
Original AlexNet: 1139 imgs/sec
Fused AlexNet: 947 imgs/sec
Original ResNet50: 20 imgs/sec
Fused ResNet50 : N/A

With batch size 5:
Original AlexNet: 818 imgs/sec
Fused AlexNet: 1169 imgs/sec
Original ResNet50: 27 imgs/sec
Fused ResNet50: N/A

With batch s

[2017-08-31 01:27] gongzg commented on #63
Could you send the resnet50 you are using to me? Both the original prototxt and the fused prototxt. I can take a look.
I would like to continue to use this thread to track the original issue which is "BVLC OpenCL is faster than 01org OpenCL". For other issue, it's better to open another issue.

[2017-08-31 02:03] jstumpin commented on #63
I'm using the original ResNet [here](https://raw.githubusercontent.com/KaimingHe/deep-residual-networks/master/prototxt/ResNet-50-deploy.prototxt). The fused version can be found [here](http://textuploader.com/d6xjj).

Ah but thanks to you, indeed "BVLC OpenCL is faster than 01org OpenCL" has been disproved (see [reference](https://github.com/BVLC/caffe/issues/5099#issuecomment-324526350)).

[2017-08-31 03:27] gongzg commented on #63
@jstumpin I tested the fused version and it works fine on my machine, the result is as below:

I0831 10:26:07.269515  9892 caffe.cpp:592] Average Forward pass: 25.4601 ms.
I0831 10:26:07.269539  9892 caffe.cpp:594] Average Backward pass: 0 ms.
I0831 10:26:07.269656  9892 caffe.cpp:596] Average Forward-Backward: 26.0025 ms.
I0831 10:26:07.269680  9892 caffe.cpp:598] Total Time: 1300.13 ms.
I0831 10

[2017-08-31 08:30] #63 closed

[2017-08-31 08:36] jstumpin opened #64 "Failing to generate layer fusion for model parameter (ResNet)"
Below is the remaining excerpt of _model_fuse.py_ (after printing out the fused _prototxt_) for ResNet50:

[2017-08-31 10:06] gongzg commented on #64
The fused convolution layer may have 2 bottoms and 1 top. I already modify the corresponding condition check to allow this case:
You can check the following code:

  virtual inline bool EqualNumBottomTopBlobs() const {
    return IsFusedWithEltwiseReLU() ? false : true;
  }
in the following file:
include/caffe/layers/conv_spatial_layer.hpp

Only the 01org's inference-optimize branch could support

[2017-08-31 23:27] jstumpin commented on #64
I do have such condition check in that header and I do test against this particular branch, yet the issue prevails.

[2017-09-01 01:00] gongzg commented on #64
@jstumpin did you try a clean build? caffe's build system has a known dependency issue. Sometimes, the header file changed but the corresponding objects will not be rebuilt. If you already did a clean build then ignore this advice. If that is the case, you may have to debug it further by using gdb to break at the layer.hpp's 430 line and see whath happen there.

[2017-09-02 07:41] jstumpin commented on #64
For a workaround, I've made the following changes:

1. CHECK_EQ(bottom.size(), top.size()) to CHECK_GE(bottom.size(), top.size()) in layer.hpp (line: 430)
2. CHECK(bottom[0]->shape() == bottom[bottom_id]->shape()) in base_conv_layer.cpp (line: 209)

Results (ResNet50):

- Original - 20 images/sec
- Fused - 75 images/sec

[2017-09-03 09:25] jstumpin commented on #64
Given above runtimes, as far as inferencing is concerned, I wonder how much more could FP16 contribute (especially with regards to ResNets)? Is there any pre-built caffemodel that I can readily test? My understanding is that the only way for to support FP16 is to train in FP16 (offline adaptation tools like NVIDIA's TensorRT or Intel's Model Optimizer is not envisioned in the roadmap I reckon).

O

[2017-09-06 02:58] gongzg commented on #64
@jstumpin Thanks for update the performance number,but the performance number are too good to be true. Could you double check the which device you are actually using? My best guess is that you may be using the dGPU device rather than the iGPU. That guess can also explain why you met the assertion.

[2017-09-06 03:27] gongzg commented on #64
As to performance gain with FP16 over FP32, it depends. In general, if the net model has too many tiny layers which each layer only takes 1ms or much less than 1ms, it will be only about 15% performance gain or even less, for example the googlenet or resnet101. Otherwise, it could get noticable performance gain, say about 50% to 70% performance gain, for example the alexnet or vgg.

[2017-09-06 04:37] jstumpin commented on #64
As I said, that was just a forward pass (i.e. net_->Forward()) measurement (1/0.0009784 = 1,022 imgs/sec on average for AlexNet). If one considers the whole prediction process (minus reading the image), AlexNet would score a modest 35 imgs/sec. I'd be getting double that amount if I were to use a dGPU (NVIDIA Quadro K4200). For ResNet50, I'm getting somewhat similar performance like what you've pu

[2017-09-06 05:56] gongzg commented on #64
Forward only is also too fast. Not sure how do you measure the time, I suppose you are using the following method, if I were wrong, please correct me.

gettimeofday(&t0, NULL);
for(i = 0; i < iter; i++)
net_->forward()
gettimeofday(&t1, NULL);

If it is the case, then the measurement may not be accurate, because the output data of the net_ has never been accessed, thus all the OCL command queue ne

[2017-09-06 06:11] gongzg commented on #64
clCaffe and clDNN share some kernels at the beginning and diverged as different design purpose. clDNN's purpose is to support some specific use case one by one, and clCaffe's purpose is to support generic net models. That's the reason why you saw the clDNN has some weird performance issue (FP16 with batch8 is much worse than FP32 with batch8 but with batch1 FP16 is much better). Those issues are j

[2017-09-06 06:19] gongzg commented on #64
The performance gain for FP16 over FP32 doesn't highly depend on the batch size. For example, for batch 1 VGG16 or Yolo2, FP16 could get about 1.6x speed of FP32.

[2017-09-06 06:27] gongzg commented on #64
The batch size matters for those tiny-layer net models, such as resnet. Take an example, for Resnet50, with batch size 1, FP16 could only get 15% performance gain over FP32. But with batch size 16, FP16 could get 53% performance gain over FP32.

[2017-09-08 03:43] jstumpin commented on #64
Didn't notice about the Caffe::Synchronize method, it is not implemented in other branches of Caffe that I was working on. Should I do the same for these branches if a fair comparison is warranted? Anyhow, I've updated the flawed reported [results](https://github.com/01org/caffe/issues/64#issuecomment-326728648).

Can I train a model using this branch without Intel Spatial support (since the machi

[2017-09-08 05:18] gongzg commented on #64
It's doable and actually that's tye typical work flow. There will be no peformance penalty. And you may not have to train the net model by using Fp16. You can use FP32 training result directly. Please be noted, you need to normalize the input data to [-1, 1] or [0, 1] just like Yolo2 or the MobilenetSSD. Then the weights could be used by fp16 version caffe directly with almost no accuracy lost com

[2017-09-08 23:04] jstumpin commented on #64
Sounds dandy but I'm facing issue building caffe-fp16.bin. I shall open up a new thread.

[2017-09-08 23:23] jstumpin opened #67 "Linking error building caffe-fp16.bin"
When I first ran caffe-fp16.bin, the program instantaneously exits. Upon checking the source, I don't have HAS_HALF_SUPPORT defined in the preprocesser definitions under the project headings (Visual Studio 2017), hence why the program just fly pass over the whole codes. Then I add the said definition, rebuild the project, these linking errors cropped up:

1. Error	LNK2019	unresolved external symbo

[2017-09-09 03:03] gongzg commented on #67
@jstumpin HAS_HALF_SUPPORT is not a configurable environment variable. Please check the  "Windows support for Intel Gen platform" section in README file. You need to install ISAAC and use it to have the HAS_HALF_SUPPORT feature. As clcaffe depends on some FP16 version clBLAS APIs which provided by ISAAC.

[2017-09-10 17:52] jstumpin commented on #67
It wasn't obvious that ISAAC is the key to FP16 support in the readme/wiki, though it got labeled as a Windows prerequisite. Anyhow, managed the additional build and here are the respective forward-pass frame rates:

With batch size 1 (total images: 90):
Original AlexNet: 35 imgs/sec
Fused AlexNet: 36 imgs/sec
Original-FP16 AlexNet: 59 imgs/sec
Fused-FP16 AlexNet: 50 imgs/sec
Original ResNet50: 17

[2017-09-13 09:20] gongzg commented on #67
@jstumpin how about the fused-fp16 with other batch sizes or with batch size 1?

[2017-09-13 09:21] gongzg commented on #64
I'm going to close this issue as it seems not an issue anymore.

[2017-09-13 09:21] #64 closed

[2017-09-13 15:04] jstumpin commented on #67
It turns out that the behavior is non-deterministic and not exclusive to AlexNet (albeit exclusively an FP16 thingy). When I ran it (Fused-FP16 AlexNet batch 16) again today, it shows no such symptom. Then when I ran other networks (ResNet50 & ResNet152) with the same batch-size, the misclassification resurfaces. This oddity however, has an occurrence ratio of 10:1 (AlexNet:OtherNets).

[2017-09-14 00:15] gongzg commented on #67
Looks like something related to memory synchronization issue. There is another example at examples/video_analysis/video_analysis. I integrated some different object detection model into it and also let it support FP32 and FP16. You can refer it or try it with different net models and FP32 or FP16.

[2017-09-15 00:11] jstumpin commented on #67
I regenerated fusion layer for AlexNet using this latest [commit](https://github.com/01org/caffe/commit/3c91c91d3af365403777bd9440b5ba99ff425bcd) but still I'm getting the wrong labels. How do I resolve this FP16-fusion issue?

I tried YOLO's and SSD's (VGG) networks with video_analysis example, both works flawlessly. When I tried SSD with MobileNet (downloaded the model from https://github.com/01

[2017-09-15 06:01] liyuming1978 commented on #67
you can try  https://github.com/liyuming1978/caffe_example/tree/master/Model/MobileNetSSD

[2017-09-15 07:55] jstumpin commented on #67
No dice, same error message. Both prototxt and caffemodel from @gongzg and @liyuming1978 are working fine with [OpenCV's SSD](https://github.com/opencv/opencv/blob/master/samples/dnn/ssd_mobilenet_object_detection.cpp).

[2017-09-15 13:26] gongzg commented on #67
@jstumpin It looks like a bug in the verification code. I will check it next week and if it is the case I will relax the runtime validation for the tuning phase on Windows platform.

[2017-10-26 15:52] jstumpin commented on #67
I just rebuilt Caffe based on this penultimate commit - [b339d6f](https://github.com/01org/caffe/tree/b339d6f8c1ecc54d3a1ec19a0100ec0ea3ed9ac7). MobileNet-SSDs (original, fused & fp16) are now error-free. I reapplied previous workaround (comment out) over these codes to enable fusion for AlexNet & ResNet:

1. conv_layer_spatial.cpp (line: 1854-1855)
2. base_conv_layer.cpp (line: 207-211)
3. layer.

[2017-10-27 01:21] gongzg commented on #67
@jstumpin Is ResNets issue with FP16 + fused only?

[2017-10-27 02:26] jstumpin commented on #67
It only concerns ResNets fused AND batchsize>1. Non-fused ResNets with batchsize>0 running on either FP16 or FP32 are unaffected.

[2017-11-01 10:05] gongzg commented on #67
@jstumpin Could you share your test case with me so that I can reproduce this issue easier?

[2017-11-02 06:51] jstumpin commented on #67
Issue resolved upon rebuilding against the latest commit - [23ea33c](https://github.com/01org/caffe/tree/23ea33c964ad5d7b3357f86b08733886c17e239d); with the latest graphic driver - [15.47.2.4815_BN](https://downloadcenter.intel.com/download/26947/Intel-HD-Graphics-Driver-for-Windows-10-for-Intel-NUC-Kit-NUC7i3BN-NUC7i5BN-and-NUC7i7BN?product=129706). Cheerio!

Wondering whether or not this Caffe b

[2017-11-02 07:11] gongzg commented on #67
@jstumpin  That‘s great! My plan is to port the acceleration kernels here into OpenCV eventually. We already started this work. Please stay tuned in the OpenCV 's DNN module if you are interested in this effort. As all issues have been solved, I'm going to close this issue now.

[2017-11-02 07:11] #67 closed

[2017-11-04 03:54] JulyJohn opened #77 "when I run a model, how can I know that I run it on the OpenCL backend rather than CPU mode?"
when I run a model, how can I know that I run it on the OpenCL backend rather than CPU mode?

such as, when I run the mnist example, I got a log like this:

[code]

so, I'm using the OpenCL as backend now?

[2017-11-06 09:58] gongzg commented on #77
I1104 11:50:31.627620 26067 device.cpp:72] CL_DEVICE_HOST_UNIFIED_MEMORY: 1
I1104 11:50:31.631078 26067 caffe.cpp:262] Using GPUs 0

indicates you are using GPU device 0.

You can use build/tools/caffe device_query to check how many GPU devices the platform have.

[2017-11-06 09:58] #77 closed

[2017-11-07 03:00] JulyJohn opened #79 "ViennaCL: FATAL ERROR: CL_INVALID_PROGRAM_EXECUTABLE."
Hi !

My Operate System is Linux Ubuntu 16.04, and I'm sure that I used the latest git inference-optimize  version.

When I try to run the example from https://github.com/01org/caffe/wiki/clCaffe , I type command in the ~/code/clCaffe/build, gpu0 means the HD Graphic.（but if with the CPU, things are ok.）

[code]

I got erros like this:

[code]

here is my _clinfo_ :

[code]

[2017-11-07 03:09] gongzg commented on #79
@JulyJohn For skl, please use the driver at http://registrationcenter-download.intel.com/akdlm/irc_nas/11396/SRB4.1_linux64.zip

[2017-11-07 03:09] #79 closed

[2017-11-07 03:14] JulyJohn commented on #79
thanks, I'm sure I use the driver at http://registrationcenter-download.intel.com/akdlm/irc_nas/11396/SRB4.1_linux64.zip.

besides, I also tried it with a NVidia card, but I got the same erro too.

[2017-11-07 03:34] gongzg commented on #79
Number of platforms                               2
  Platform Name                                   Intel Gen OCL Driver
  Platform Vendor                                 Intel
  Platform Version                                OpenCL 2.0 beignet 1.3
  Platform Profile                                FULL_PROFILE
  Platform Extensions                             cl_khr_global_int32_base_atomics cl

[2017-11-07 03:44] JulyJohn commented on #79
@gongzg
even though, here is my another machine, I got the same problem after tried it with a NVidia card.

clinfo
[code]

[2017-11-07 04:41] gongzg commented on #79
This repo is for Intel platform only.

[2017-11-09 04:52] bxk-sonavex opened #80 "extremely slow using Intel iGPU"
This issue is initially posted at https://github.com/BVLC/caffe/issues/5099#issuecomment-342865849.  Here should be the correct place to discuss this issue.  Below are the issue and some discussions in the above mentioned place.

When running the tests, I got a whole bunch of errors like (may not catch all of them)
[code]
Should these errors be concerned?

Anyway, I am testing the build using the

[2017-11-09 19:48] bxk-sonavex commented on #80
@gongzg I tested AlexNet using
[code]
Without INTEL_SPATIAL (using the deploy.prototxt directly), the benchmark result is
[code]

With INTEL_SPATIAL by adding `engine: INTEL_SPATIAL` in all the `convolution_param`s in the deploy.prototxt, the result is
[code]

As you can see, the average forward are quite the same.  Seems the INTEL_SPATIAL did not boost up the speed.  In addition, using INTEL_SPAT

[2017-11-09 19:57] bxk-sonavex commented on #80
FYI.  There were some warnings and hope those did not cause the slow.
[code]

[2017-11-09 19:59] bxk-sonavex commented on #80
@gongzg In addition to build and test the code, I would like to help on developing a working version.  Let me know if anything I could help.  Thanks!

[2017-11-10 00:16] gongzg commented on #80
@bxk-sonavex Did you see those warning messages everytime when you run the same benchmark? And you can add a "-phase TEST" option to the command line to get better performance for inference only. The INTEL_SPATIAL will be enabled by default when you compile clcaffe with INTEL_SPATIAL support, so you don't need to modify the prototxt manually, and if you do, it should be the same. You can compare t

[2017-11-10 00:17] gongzg commented on #80
Those warning messages are from the OpenCL compiler and is harmless. As by default, clCaffe will cache the previous compiled kernel, the second run should not have those message.

[2017-11-10 03:58] bxk-sonavex commented on #80
- Yes, those warning messages were there every time when running the same benchmark.  However, when using "-phase TEST", the messages were gone.
- GPU was about 5x faster than CPU.  When using "-phase TEST", GPU is about 10x faster than CPU.

Does the performance number below make sense to you?
[code]

[2017-11-10 14:08] gongzg commented on #80
@bxk-sonavex The performance looks good for me. And as to the issue you found when you try mnist training, I just pushed some patches which could fix them and you should get the same accuracy on GPU now.  The compiler message should only print once for a specific net model, as the second time there will be a cached kernel. That's should be another issue anyway. Will look into that next week.

[2017-11-10 14:15] bxk-sonavex commented on #80
@gongzg Thanks for your great help!!  Will test the latest repo and keep you updated.

I found another issue.  Sometimes, `caffe time` printed out a lot of unreadable characters and then crashed.  Then, immediately running it the second time, there were no problem at all and produced similar performance as reported above.  It looks sort of random for me.

Probably should open another issue and dis

[2017-11-13 02:13] gongzg commented on #80
As to the performance you got now is normal and much faster than CPU, I'm going to close this issue. As to the other issues you mentioned (mnist accuracy and caffe time issue), please update to the latest code and test again. If you found any new issue, feel free to open a new one.

[2017-11-13 02:13] #80 closed

[2017-11-14 05:29] liyuming1978 opened #83 "if run firstly in cpu mode then switch to gpu mode. opencl fail"
### Your system configuration
Operating system: Windows & Linux
Compiler: vs2015(windows) and gcc for linux
CUDA version (if applicable): no
CUDNN version (if applicable): no
BLAS: atlas
Python or MATLAB version (for pycaffe and matcaffe respectively):

都是默认配置编译的clcaffe,  发现先在cpu mode, 推理一遍后, 再切换到gpu mode推理 ,error
伪代码:
Caffe::set_mode(Caffe::CPU);
net_.reset(new Net<float>(model_file, TEST, Caffe:

[2017-11-14 05:59] gongzg commented on #83
This is not a bug but a usage problem. The usage of clCaffe is to set devices firstly:
Caffe::SetDevice(gpus[0]);

After that you can create a new net model, then you can set_mode to CPU to run on CPU device. After that you can call set_mode to GPU then it will switch to GPU.

[2017-11-14 05:59] #83 closed

[2017-11-17 01:44] Bidski opened #84 "Multiple compilation errors building clCaffe"
### Issue summary
When building clCaffe I encounter multiple compilation errors.
[code]
[code]
[code]
[code]
[code]
### Steps to reproduce
Cmake command:
[code]
(cmake struggles to find libboost_python3.so, so I have to specify it manually)

Output from cmake
[code]
[CMakeCache.txt](https://github.com/01org/caffe/files/1480818/CMakeCache.txt)

### Your system configuration
Operating system: Ubuntu

[2017-11-17 02:40] liyuming1978 opened #86 "fp16.hpp: build error in new gcc version"
我在Ubuntu17.04上编译clcaffe出错, gcc版本比较新.
错误是 error: exponent has no digits
  #define HALF_MIN 0x1.0p-14f

[2017-11-17 02:51] liyuming1978 commented on #83
got it!. net will create with default device (set by code), if changing device , must re-new net.

[2017-11-17 03:11] liyuming1978 opened #87 "prelu has wrong result if fused"
please use fastracnn (not fastrcnn...)  demo
just a mark.

[2017-11-17 03:30] gongzg commented on #84
Two possible issues I found:
1. It seems that there are many boost related warnings. Did you install the libboost-all-dev by using apt-get?
2. The GCC version is somehow too new which may trigger some compatible issue. The version we are using is 5.x.

[2017-11-17 03:50] Bidski commented on #84
@gongzg
1. boost is compiled from source. Having a look at the boost libraries needed, all of them were found, except for the  python library (which is why I specify it manually).
2. Do you have any thoughts as to what sort of compatibility issues may be at play here?

[2017-11-17 05:47] gongzg commented on #84
I would recommend you to use apt-get to install libboost-all-dev directly. I guess many compilation warning may caused by boost library. And I don't know the specific compatibility issue between two GCC versions, just saw some issure reported which may related to this type of problem, just as https://github.com/01org/caffe/issues/86

So it's better to use GCC 5.x for clcaffe for now.

[2017-11-19 23:53] Bidski commented on #84
@gongzg
Installing `libbost-all-dev` does not fit with my use case. I am compiling boost from source and all of the cmake warnings related to boost is simply your cmake script having to try every possible combination of python version numberings to try and find the correct naming scheme that boost build system generates by default (header file named `python.hpp` and library named `libboost_python3

[2017-11-20 01:06] gongzg commented on #84
@Bidski Thanks for the detail analysis. The root cause is -DUSE_INDEX_64=ON.  The major purpose of that macro is to use int64 data type as normal int in the device side which is not a good idea for most of the GPU devices, as int64 is much slower than int32 on GPU side and for all the CNN layers, int32 is good enough. And we definitely have some problems when enable it I will look into it latter w

[2017-11-21 10:11] gongzg commented on #86
I just pushed a patch to fix this, please try again,

[2017-11-21 10:15] gongzg commented on #84
@Bidski After disable the USE_INDEX_64, is there any new issues when you build clCaffe?

[2017-11-24 02:46] Bidski commented on #84
@gongzg I also experienced the same issue as #86
I am working on a PR now that fixes all the issues that we have discussed here (including #86 )

[2017-11-24 10:22] #84 closed

[2017-11-24 11:17] gongzg commented on #86
with PR #90 merged, this issue should be already fixed.

[2017-11-24 11:17] #86 closed

[2017-11-27 03:19] Bidski opened #92 "Symbol lookup error at run time"
When loading a binary linked to `libcaffe.so.1.0.0-rc5`, the following error is displayed

[code]

Using c++filt to demangle the symbol gets us

[code]

Having a look in (and around) `conv_layer_fft.cu` reveals there is no instantiation of `Forward_gpu_fft` for `half_float` data types.

[2017-11-27 03:30] gongzg commented on #92
Will fix that soon. BTW, FFT layer is recommended, as it hasn't been in active development for a long time. By default, FFT layer is disabled.

[2017-11-27 03:31] Bidski commented on #92
So is compiling with `USE_FFT` not recommended?

[2017-11-27 03:34] gongzg commented on #92
@Bidski Eaxctly.

[2017-11-27 08:03] Bidski commented on #92
This looks like it has fixed the compile errors  on my system

[2017-11-27 08:03] #92 closed

[2017-12-05 09:11] liyuming1978 opened #96 "xception fused error"
https://github.com/yihui-he/Xception-caffe/blob/master/trainval.prototxt
I fuse this model, fuse success , but wrong fail (with --proto_only)
the caffe time run error with:
Unknown bottom blob 'interstellar2a_branch2c' (layer 'interstellar2a_branch2c', bottom index 1)

[2017-12-05 12:05] gongzg commented on #96
@liyuming1978 I just pushed a patch to fix this bug, please try it out.

[2017-12-06 07:20] liyuming1978 commented on #96
it's fixed,  after fused the time is 28ms (improved from 50ms to 28ms)

[2017-12-06 07:21] #96 closed

[2017-12-09 11:18] bxk-sonavex opened #97 "Error when building debug version"
I got the following error when building a debug version, using the `build_win.cmd`.  Briefly, the error was `cl : Command line error D8016: '/O1' and '/RTC1' command-line options are incompatible [C:\DL\clCaffe\build\src\caffe\caffe.vcxproj]`.

The release version was built successfully.  I am using the latest code in the repo, VS 2015 on Intel NUC with iGPU.  Looks this should be a minor fix but

[2017-12-09 11:58] bxk-sonavex commented on #97
I am trying to build debug version using the generated .sln file in VS2015.  When open the Property Pages of the caffe project, it shows that the Optimization is disabled (/Od).  However, I still got the error when building the solution.

[2017-12-12 05:57] jstumpin opened #98 "Intel HD Graphics 6000 backward incompatibility"
### Issue summary
Successfully built and ran Caffe on Intel Iris Plus Graphics 650 but unable to reproduce tangible result when deployed on an older NUC (NUC5i5RYH) with an older iGPU (Intel HD Graphics 6000).

### Steps to reproduce
Running classification.cpp (specifically, net->Forward()) would trigger an erroneous output such as [this](https://gist.github.com/jstumpin/598dd3fea9d99d1a4fc8edb879

[2017-12-12 08:27] gongzg commented on #98
@jstumpin I just tried clCaffe on BDW and here is my clinfo:
Number of devices                                 2
  Device Name                                     Intel(R) HD Graphics
  Device Vendor                                   Intel(R) Corporation
  Device Vendor ID                                0x8086
  Device Version                                  OpenCL 2.0
  Driver Version

[2017-12-12 08:32] gongzg commented on #97
@bxk-sonavex confirmed, this is a regression, will fix soon.

[2017-12-12 09:15] gongzg commented on #97
just pushed the fix. Please check it again.

[2017-12-12 12:42] bxk-sonavex commented on #97
See the place.  It works now.  Thanks for the fix!

[2017-12-12 15:07] jstumpin commented on #98
The output is indeed from FP32 version of classification.cpp. Running "caffe.exe time -model NonFusedNetwork.prototxt -gpu 0 -phase TEST -iterations 20" ended with the same outcome.

[2017-12-13 00:16] #97 closed

[2017-12-13 00:20] gongzg commented on #98
It seems that your driver version"  Driver version:				 20.19.15.4624" is out-of-date. I can't reproduce this issue with the latest "Driver Version r5.0.63503". You can try the latest driver at the following link:
http://registrationcenter-download.intel.com/akdlm/irc_nas/11396/SRB5.0_linux64.zip

[2017-12-13 04:16] jstumpin commented on #98
It so happens I'm using Windows. Upgraded to ver. 20.19.15.4835 from https://downloadcenter.intel.com/download/27267/Graphics-Intel-Graphics-Driver-for-Windows-15-40-?product=86211 ,no dice still.

[2017-12-13 04:59] gongzg commented on #98
I don't have a Windows BDW device in hand. Could you share a full error log including all the error message?

[2017-12-14 02:20] jstumpin commented on #98
Here's the [caffe.log](https://gist.github.com/jstumpin/60cbc9ace0e146e3c833e4a4eedd6794) where it terminated prematurely, and here's the complete [std output](https://gist.github.com/jstumpin/1f596288064d8cb4bd19ea5bd80c8e2d).

[2017-12-14 02:26] gongzg commented on #98
I can't find any compilation error message. Could you also capture those message as well including both the stdout and stderr?

[2017-12-14 02:33] jstumpin commented on #98
This is deployment-only release testing, hence no build/compilation messages. How do I ensure the build will run on multiple targeted machines (but still having similar iGPUs)? Do I have to limit the options (e.g. without Isaac etc.)?

[2017-12-14 02:34] gongzg commented on #98
@jstumpin compilation error message means the runtime opencl computation error message, not the clcaffe's compilation error meessage. BTW one thing may worth to have a try is to find driver 4815 or 4729

[2017-12-14 03:09] jstumpin commented on #98
Based on these available [drivers](https://downloadcenter.intel.com/product/97501/Graphics-for-5th-Generation-Intel-Processors), I downgraded to 4703 without improvement. There is no runtime error, only actual code fragments posed as 'error message' if one could call it that.

[2017-12-14 03:31] gongzg commented on #98
Oh, i didnot notice the build error code is -43 which means this is a build option error not a real compilation error, I will check again.

[2017-12-14 05:34] gongzg commented on #98
@jstumpin could you try the following patch?

diff --git a/src/caffe/greentea/cl_kernels.cpp b/src/caffe/greentea/cl_kernels.cpp
index bb45158..04ee1bd 100644
--- a/src/caffe/greentea/cl_kernels.cpp
+++ b/src/caffe/greentea/cl_kernels.cpp
@@ -9085,8 +9085,8 @@ viennacl::ocl::program & RegisterKernels(viennacl::ocl::context *ctx) {
   }
   bool is_beignet = ctx->devices()[0].opencl_c_version().find

[2017-12-14 06:55] jstumpin commented on #98
The patch does fixed the error but now the prediction accuracy as well as the run time are way off. The good thing is, the patch doesn't seem to affect performance of the source machine (the one with Iris 650).

[2017-12-14 07:22] gongzg commented on #98
We didn't pretune the convolution kernels for BDW platforms, so you can set the following environment variable before you run your application:
set CLCAFFE_IGNORE_PRETUNE=1
Then it will trigger auto-tuning, wait it to finish to see whether it will get better result.

BTW, you may need to upgrade the driver version to the latest one.

BTW, The patch does affect my platform's performance, get about

[2017-12-14 09:21] jstumpin commented on #98
I got "Verification was not successful, fallback to basic kernel" if batchsize > 1 and it stalled indefinitely. Other than that, it works! Iris 650 runs at 0.018s on average, where as HD 6000 scored 0.047s.

[2017-12-14 09:30] gongzg commented on #98
The fallback indicates compiler bug which force it fallback to very slow basic kernel and that the reason why you get much longer inference time on HD6000. I don't have too much things to do with the compiler issue on BDW platform, and if you don't have new issue, I'm going to close this one.

[2017-12-14 09:53] jstumpin commented on #98
Accuracy seems to tally. Only the runtime is lagged. If there's no workaround for the batch, I guess you can close it. Thanks.

[2017-12-14 09:55] #98 closed

[2017-12-19 11:19] gnsmrky opened #101 "Incompatibility on Intel Cherrytrail graphics"
### Issue summary
Testing clcaffe with beignet 1.3.0 (straight apt install) or beignet 1.3.2 (built from latest github source) results in "Aborted (core dumped)" error.  I am trying to make it running with beignet on an Intel Core i3-6006U system so I can rebuild clcaffe using beignet on a cherrytrail (atom z8300) platform.

Have tried many combinations.  Would really like to make it happen with b

[2017-12-20 03:40] gongzg commented on #101
You reported two issues actually. The first is related to Beignet, and the second is related to CHT support.
For beignet issue, I have to advice you to switch to official OpenCL driver. The good news is that the open source version of official OpenCL driver is coming.
For CHT support, you can try latest SRB5.0 driver and set the following envorinment variable ：
export CLCAFFE_IGNORE_PRETUNE=1
befo

[2017-12-20 16:24] acervr commented on #101
Nice to hear the official OpenCL driver will open source soon!  Crossing fingers on better support level on BYT & CHT.

I have tried both SRB4.1 and 5.0 on CHT.  Alexnet test ran through with ~340ms in each forward cycle with -phase TEST.  So good sign there.

However, when testing Mobilenet SSD (had to comment out engine: CAFFE in prototxt and set_mode_gpu() in python), the objects being detected

[2017-12-20 23:52] gnsmrky commented on #101
Nice to hear the official OpenCL driver will open source soon!  Crossing fingers on better support level on BYT & CHT.

I have tried both SRB4.1 and 5.0 on CHT.  Alexnet test ran through with ~340ms in each iteration cycle with -phase TEST.  So good sign there.

However, when testing Mobilenet SSD (had to comment out engine: CAFFE in prototxt and set_mode_gpu() in python), the objects being detect

[2017-12-21 07:28] liyuming1978 opened #102 "mobilenet-ssd accuracy is very low for windows-version (voc0712)"
caffe version:  commit 2e7138570d324564c80c040b83ef6b1d4b39324d
(Merge pull request #100 from listenlink/fix_python_binding  )

how to build windows caffe:
https://github.com/liyuming1978/caffe_example/blob/master/install_scripts/Windows_install/build-clcaffe.cmd

test-result:
**ubuntu16.04**:
72.7(fp32)                         72.1(fp16)
**windows**
33.49(fp32)

[2017-12-21 11:27] gnsmrky commented on #101
Screenshots using Intel SRB 5.0 driver on CHT.  In python using the following code to select gpu device:
`caffe.set_mode_gpu()`
`caffe.set_device(0) # 0 for GPU.  1 for CPU`

**- Using GPU0 (device 0, the GPU device):** the result is incorrect.  Seems like all objects are being detected and grouped at upper part of the image.
![20171221_clcaffe_intel-srb50-gpu0_mobilenet-ssd_incorrect](https://use

[2017-12-21 11:54] gongzg commented on #101
@gnsmrky Is it on Linux or Windows? Did you try this your i3?

[2017-12-21 11:59] gongzg commented on #101
@gnsmrky you can try 0b05dc522d4a1a6b730eceda76c0583845bd7175 firstly.

[2017-12-21 16:09] gnsmrky commented on #101
The screen shots were from CHT (atom z8300) on Linux.  Tried both Ubuntu 16.04 and 17.04 yielded the same result.

Just took a look at the `0b05dc5`.  Both files (for FFT?) are already in place (git cloned the latest just last night).

[2017-12-22 00:04] gongzg commented on #101
The latest code has some change in the depthwise layer which is related to MobileNetSSD which may bring regression on CHT platform, so I suggest you try 0b05dc5 to see whether it work.

[2017-12-22 02:52] gnsmrky commented on #101
Yes I am trying that now.  As the patch is mainly for FFT, should I also add USE_FFT when doing cmake?

[2017-12-22 03:05] gongzg commented on #101
No, please don't change build option. You can also try to set the following environment variable before run the application:
export CLCAFFE_IGNORE_PRETUNE=1

[2017-12-22 09:54] gnsmrky commented on #101
Just tried `0b05dc5`.  Unfortunately, it didn't work and resulted the same "upper green grouped" detections using mobilenet ssd.

The following cmake was used (had to set ISAAC to OFF to avoid exception error on CHT).
`cmake .. -DUSE_GREENTEA=ON -DUSE_CUDA=OFF -DUSE_INTEL_SPATIAL=ON -DBUILD_docs=0 -DUSE_ISAAC=OFF -DViennaCL_INCLUDE_DIR=$HOME/local/include -DBLAS=mkl -DOPENCL_LIBRARIES=/usr/lib/x86

[2017-12-22 09:55] gnsmrky commented on #101
Changed the title to better reflect this issue...

[2017-12-22 10:02] gongzg commented on #101
Unfortunately, I don't have a CHT machine, so I can't reproduce this issue. One more thing we can try is to enable ISAAC. I will update ISAAC next week to make it support CHT. After that you can give a try.

[2017-12-22 10:10] gnsmrky commented on #101
Ok.  Will wait for the new ISAAC...

BTW, how do you disable FP16?  I want to give that a shot.

[2017-12-22 10:29] gongzg commented on #101
From the log, you are using FP32 already.

[2017-12-22 10:36] gongzg commented on #101
You can check caffe-fp16.cpp/caffe.cpp to find out how to enable fp16.

[2017-12-22 11:07] gnsmrky commented on #101
Did few more tests.

**1. gtest_filter test**
`./test/test.testbin  --gtest_filter=*OpenCLKernelCompileTest* 0`

Result:
![20171222_clcaffe-0b05dc5_intel-srb50-gpu0_gtest_filter_result](https://user-images.githubusercontent.com/18223627/34295266-6c4bc7cc-e747-11e7-86c4-b0e53b8b61f0.png)

Test output: (many warnings)
[20171222_clcaffe_0b05dc5_gtest_filter_stdout.txt](https://github.com/01org/caffe/

[2017-12-22 16:29] gyfscx opened #103 "Does Intel caffe support the GPU mode?"
# Does the performance of the GPU mode are the same as the official caffe?

### Your system configuration
Operating system: win 10
Compiler: vs 2015
CUDA version (if applicable): 8.0
CUDNN version (if applicable): 5.1
BLAS: open/mkl
Python or MATLAB version (for pycaffe and matcaffe respectively): 3.5

[2017-12-25 06:15] gongzg commented on #101
I just pushed a patch to github.com/intel/isaac to support more Intel platforms. Please give a try.

[2017-12-25 06:20] gongzg commented on #101
The softmaxLayer test failure is weird and may be harmful for normal use cases. The other failures are not very important for inference work loads. You can try to fallback to CPU device for softmax layer and softmaxwithloss layer to check whether you can get correct deteciton result.

[2017-12-25 06:36] gongzg commented on #101
Or just apply the following patch to fallback to non-subgroup implementation for those two layers.

diff --git a/src/caffe/layers/softmax_layer.cu b/src/caffe/layers/softmax_layer.cu
index 801639b..a86351c 100644
--- a/src/caffe/layers/softmax_layer.cu
+++ b/src/caffe/layers/softmax_layer.cu
@@ -146,7 +146,7 @@ void SoftmaxLayer<Dtype>::Forward_gpu(const vector<Blob<Dtype>*>& bottom,
       return

[2017-12-25 06:40] gongzg commented on #103
The official Caffe doesn't support FP16 and layer fusion yet. So for some models, thie branch is much faster than the upstream Caffe.

[2017-12-25 06:50] gnsmrky commented on #101
I have tried to hard code the isaac device.cpp to default to skylake and broadwell over the weekend and it produced the same "upper green group boxes" result.

Trying the non-subgroup patch now...

[2017-12-25 10:01] gnsmrky commented on #101
Resulted the same "upper green grouped boxes" error.  The following were used:
1. Up-to-date inference-optmized branch.
2. ISAAC was being used (default to skylake).
3. `export CLCAFFE_IGNORE_PRETUNE=1` was set.
4. The patch for softmax_layer.cu and softmax_loss_layer.cu

`make runtest` resulted in `Fatal error: Intel iGPU device found but doesn't support cl_intel_subgroups_short.` error.  This is

[2017-12-25 15:32] gnsmrky commented on #101
@gongzg Good news!  It's working!  with `0b05dc5` commit and the patches for `softmax_layer.cu` and `softmax_loss_layer.cu`, it is now detecting objects correctly using Mobilenet SSD!  (Still curious why these 2 layers fail, though...)

The speed is amazing, as expected, net.forward() at about 0.1s per frame!  Considering this is a lower spec end of Cherrytrail (z8300), this is just amazing to see

[2017-12-26 00:10] gongzg commented on #101
That's really great! The CHT driver has some known issues as below:
1. Some of the sub group APIs have bugs which are used in the two softmax layers.
2.  Lack of sub group extension with half support thus no need to try FP16.

[2017-12-26 03:03] gnsmrky commented on #101
Ok got it.

BTW, here is the cpuid output for atom z8300.  Just FYI so the official patches for ISAAC (device.cpp) and softmax layers can be put in place.

`cpuid | brand` output:
![screenshot from 2017-12-26 10-52-11](https://user-images.githubusercontent.com/18223627/34345703-ea0d90dc-ea2b-11e7-8ce8-7bd9aeebe9ee.png)

`cpuid > cht_atom_z8300_cpuid.txt` output:
[cht_atom_z8300_cpuid.txt](https://

[2017-12-26 03:18] gongzg commented on #101
Thanks for the information. I will cook a patch for CHT atom devices for both ISAAC and clcaffe latter.
BTW, did you try the layer fusion method?

[2017-12-26 03:43] gnsmrky commented on #101
Fused model is exactly what I am going to try next (as FP16 isn't worth trying).  Will come back with the layer fusion method.

[2017-12-26 06:19] dongx1x opened #104 "minor mistakes in the wiki of clCaffe"
1. Link of MKL can not be accessed, http://softwareproducts.intel.com/ILC/.
2. In section [yolo2-model-suppor](https://github.com/01org/caffe/wiki/clCaffe#yolo2-model-support), `python tools/inference-optimize/model_fuse.py --indefinition yolo416/yolo_deploy.prototxt --outdefinition yolo416/fused_yolo_deploy.prototxt --inmodel yolo416/yolo.caffemodel --outmodel yolo416/fused_yolo.caffemodel` **sho

[2017-12-26 11:12] gnsmrky commented on #101
Here comes the layer fusion model result (left terminal).  It's about 10% faster (~0.01s faster) than non-fused mode.  Still worth it as it's a one-time conversion for the models.

![screenshot from 2017-12-26 14-35-25](https://user-images.githubusercontent.com/18223627/34355421-25ec46f4-ea70-11e7-9f4a-151d3d13d365.png)

[2017-12-27 08:35] liyuming1978 commented on #102
I compare all layers data,  the reason is dw conv is different with linux and windows

[2017-12-27 09:19] Essenlin opened #105 "Build With Cuda error"
/usr/include/c++/5/bits/stl_tree.h(1125): error: "auto" function requires a trailing return type

### Your system configuration
Operating system:Ubuntu 16.04
Compiler: GCC
CUDA version (if applicable):8.0
CUDNN version (if applicable):7.0
BLAS:openblas
Python or MATLAB version (for pycaffe and matcaffe respectively):python2.7

[2017-12-28 07:53] liyuming1978 commented on #102
"-cl-fast-relaxed-math " in create_dw_conv_kernel
63.55(fp32) 10.14(fp16)

[2017-12-28 08:57] liyuming1978 commented on #102
delete Fix a potential compiling error in dwconv kernel.
"+"if (channel_id > 0xfffffffeul) {",    // NOLINT
 +"convolved_image[0] = local_kernel_data[reg];",    // NOLINT
 +"}",    // NOLINT"

63.55(fp32) 54.67(fp16)

[2017-12-29 02:37] liyuming1978 commented on #101
@gnsmrky would you please try:
 ./build/tools/caffe time -phase TEST -gpu 0 -model  (your prototxt file path)
I test in J3455,   the mobilenet-ssd only  155ms. (while you 100ms...) with 4.1 cl driver
I switch to 5.0 driver,  it speed up to 149ms , but still lower than your's 100ms.
I think J3455 should be faster than cherrytrail

[2017-12-29 09:20] gnsmrky commented on #101
@liyuming1978 actually my result was for Mobilenet-SSD (https://github.com/chuanqi305/MobileNet-SSD) net forward speed with fused model, not the "caffe time alexnet deploy" benchmark.

`./tools/caffe time -model ../models/bvlc_alexnet/deploy.prototxt -gpu 0 -phase TEST` on Cherrytrail (z8300) is only about 340~350ms per iteration.  So your J3455 (apollo lake) reaches ~150ms makes sense as the EUs

[2017-12-29 09:26] gnsmrky commented on #101
Posting the caffe time test/benchmark result for Cherrytrail (z8300)

1. GPU result using `./tools/caffe time -model ../models/bvlc_alexnet/deploy.prototxt -phase TEST -gpu 0 `
![screenshot from 2017-12-29 17-21-18](https://user-images.githubusercontent.com/18223627/34433861-15a1adf8-ecbd-11e7-9f88-583644ed960a.png)

2. CPU result using `./tools/caffe time -model ../models/bvlc_alexnet/deploy.prot

[2017-12-29 09:26] #101 closed

[2017-12-31 13:22] liyuming1978 commented on #101
@gnsmrky , the 100ms is the time of my test in APL for mobilenet-ssd! the prototxt file is from https://github.com/liyuming1978/caffe_example/blob/master/Model/MobileNetSSD/MobileNetSSD_deploy_fuse.prototxt
the different (https://github.com/chuanqi305/MobileNet-SSD) is chuanqi305 will he use engine:CAFFE for dw conv, while I use the default which clcaffe enabled.
so if possible, would you please s

[2017-12-31 14:03] liyuming1978 commented on #101
caffe time can be also used to test   mobilenet-ssd  .your alexnet speed is looks to be ok.  but  mobilenet-ssd looks to be too quick

[2018-01-02 00:10] gongzg commented on #101
@liyuming1978 J3455 and Z8300 both have 12 EU. J3455's GPU boost frequency is higher than Z8300 (750MHz vs 500Mhz). If your J3455 can really boost to 750MHz, then it should get better performance. But in practice, we also noticed that the APL platform could not get expected performance. I already contacted the OCL driver team to investigate this issue.

[2018-01-02 00:16] gongzg commented on #102
This looks like a Windows OCL driver issue.

[2018-01-02 00:44] liyuming1978 commented on #101
@gongzg  how to get the real  GPU boost frequency in real-time?

[2018-01-02 01:49] liyuming1978 commented on #102
yes, I think so, still has gap  (72.2 -- 63.55)  , in investigation.

[2018-01-02 04:31] gnsmrky commented on #101
@liyuming1978 Here is the prototxt I used.  Didn't do much but simply removed (commented out) all "engine:Caffe".  Simply do a global search of "engine: Caffe" and replace it with "#engine: Caffe" should do it.

[MobileNetSSD_deploy.no_engine.prototxt.zip](https://github.com/01org/caffe/files/1596841/MobileNetSSD_deploy.no_engine.prototxt.zip)

I timed the `demo.py` file's net forward as the follo

[2018-01-02 09:23] liyuming1978 commented on #101
@gnsmrky   I compile with  cmake .. -DUSE_GREENTEA=ON -DUSE_CUDA=OFF -DUSE_INTEL_SPATIAL=ON -DBUILD_docs=0 -DUSE_ISAAC=ON -DViennaCL_INCLUDE_DIR=$HOME/local/include -DOPENCL_LIBRARIES=/opt/intel/opencl/libOpenCL.so -DOPENCL_INCLUDE_DIRS=/opt/intel/opencl/include

so,  DUSE_INTEL_SPATIAL=ON ,  as zhigang says,  that maybe the ocl driver issue  for J3455...

[2018-01-03 07:22] #105 closed

[2018-01-03 08:10] liyuming1978 commented on #102
give up...

[2018-01-04 02:33] gongzg commented on #104
Thanks for reporting these issues. Already fixed.

[2018-01-04 02:33] #104 closed

[2018-01-05 01:58] twmht opened #106 "Failed on gpu (OpenCL with NVIDIA) mode"
I built clCaffe according to the steps in wiki (https://github.com/01org/caffe/wiki/clCaffe).

the build was successful but failed to inference in gpu mode.

Here is the the output of `device_query`

[code]

and inference on Alexnet throws errors

[code]

[2018-01-05 10:23] twmht commented on #101
@gnsmrky

How did you get 0.1s per image? Did you try the fused version or fp16?

[2018-01-06 16:11] gnsmrky commented on #101
@twmht USE_INTEL_SPATIAL is the key.  It gives you about 3~4 x performance gain.

FP16 does not work on CHT platform.  I tried, but it just results in run-time exception errors.  0.1s per forward iteration is good enough for my use case.  So I didn't dig in further.  But should FP16 work, it may have another 50% gain and lower the forward time to 0.05s ~ 0.07s, I guess.

[2018-01-08 01:03] #103 closed

[2018-01-09 08:42] gongzg commented on #106
@twmht Looks like there is a bug in ISAAC which doesn't support NVIDIA's OpenCL well. You can try to disable ISAAC and try again. And this repo is mainly for Intel platform, we also tested some AMD devices and it works well but we haven't tested it with Nvidia's OpenCL. There may be some unkown issues.

[2018-01-09 08:44] gongzg commented on #106
I'm going to close this issue as it looks like an ISAAC issue rather than a clCaffe issue.

[2018-01-09 08:44] #106 closed

[2018-01-15 05:31] twmht opened #107 "Intel MKL FATAL ERROR: Cannot load libmkl_mc3.so or libmkl_def.so."
### Issue summary
when doing inference with mobilenet-ssd with pycaffe , it throws erros when forwarding.

[code]

I have added the path of libmkl_mc3.so and libmkl_def.so to `LD_LIBRARY_PATH`,  but it still does not work.

I use opencl as the backend, and with intel atom z8300.

`import caffe`  and `Network init` is fine, but having this problem when forwarding.

### Steps to reproduce
there is a

[2018-01-15 10:58] gnsmrky commented on #107
Try export the following before executing clcaffe.
'export LD_PRELOAD=/opt/intel/mkl/lib/intel64/libmkl_core.so:/opt/intel/mkl/lib/intel64/libmkl_sequential.so'

[2018-01-16 02:11] twmht commented on #101
@gnsmrky

Have you ever set

[code]

in the demo script?

[2018-01-17 03:05] gnsmrky commented on #101
@twmht
yes, I have these 2 lines.  Pls see my previous comment:
[https://github.com/01org/caffe/issues/101#issuecomment-353327987](https://github.com/01org/caffe/issues/101#issuecomment-353327987)

[2018-01-17 08:37] twmht commented on #107
thanks!

[2018-01-17 08:37] #107 closed

[2018-01-17 10:31] twmht opened #108 "ViennaCL driver errors on Intel Atom E3825"
I follow the wiki guide to install clcaffe (https://github.com/01org/caffe/wiki/clCaffe)

everything is fine until I query all the devices

[code]

My OS is ubuntu 16.04.

Any suggestion?

thank you

[2018-01-18 13:07] #108 closed

[2018-01-19 03:17] twmht commented on #101
@gnsmrky

one more question,  I am working on CHT too. but the opencl driver only recognize GPU, no CPU is detected.

I have installed SRB 4.1 OpenCL driver, here is my clinfo.

[cht_clinfo.txt](https://github.com/01org/caffe/files/1645214/cht_clinfo.txt)

Any suggestion?

[2018-01-22 03:59] twmht commented on #30
Found the same issue with version 1.1.1. Trying to do with latest git master version.

[2018-01-22 05:19] gongzg commented on #30
@twmht please use the official OpenCL SDK driver. Beignet is not supported for clCaffe.

[2018-01-22 06:17] twmht commented on #30
@gongzg

Yes. I have tried latest version of beignet but still not work in clCaffe.

However, I have tried to use official opencl driver last week, but it can only detects the cpu device.

see the issue (https://software.intel.com/en-us/forums/opencl/topic/754751) I posted to intel.

beignet can detects my gpu, but official version can't.

it seems like the reply from intel is that the official ve

[2018-01-22 06:32] gongzg commented on #30
J1900 is Baytrail platform which belongs to Ivybridge and was released in 2013.  It's too old for clcaffe. clCaffe could support Gen9(skylake, apollo lake ) and newer. For Gen8 (broadwell, cherrytrail), clcaffe could work but need some tweaks.

[2018-01-22 06:58] twmht commented on #30
@gongzg

How to determine if my device is gen9 or newer? I check the hardware spec of J1900, there is no keyword about the gen code.

by the way, I tried to play with Cherrytrail x5-Z8300 (gen8), the same spec as in the issue (https://github.com/01org/caffe/issues/101). the official linux driver works well, but I did not do other tweaks.  why it can works without doing some tweaks?

[2018-01-22 07:04] gongzg commented on #30
Those tweaks I already mentioned in issue #101: using 0b05dc5 and the patch I provided in that issue. The issue only affects the depth-wise convolution layer, if you are not using that layer. Then it just works fine.

[2018-01-22 07:16] gongzg commented on #30
As to the Gen Graphics information, you can search your product at ark.intel.com and find out the GPU information, then search the GPU information at https://en.wikipedia.org/wiki/Intel_HD_and_Iris_Graphics.

[2018-01-22 09:18] gnsmrky commented on #101
@twmht
Did you also install the files from the `intel-opencl-cpu-r4.1-61547.x86_64.tar.xz` package?  This should include the CPU device driver for OpenCL.

[2018-02-06 15:53] j5207 commented on #106
same problem......how can i disable ISAAC?

[2018-02-08 05:09] liyuming1978 commented on #102
i find the same data in Ubuntu with 5.0 ocl driver.

[2018-02-26 03:36] xhuan28 opened #109 "Error: "extra_build_options_" was not declared in this scope"
We developed a ROS project based on clCaffe as backend. One user find a build issue with your latest commit(https://github.com/01org/caffe/commit/3eb1dfdc87f24a19c2c7aa66ffcac6ca27a30d1f). The issue details are [here](https://github.com/intel/ros_opencl_caffe/issues/3).
From your latest commit, you defined a variable called "extra_build_options_" which is embraced by the Macro "USE_GREENTEA", but

[2018-02-26 05:49] gongzg commented on #109
fixed, please check.

[2018-03-02 06:55] xhuan28 commented on #109
@gongzg  Thanks, Zhigang. Our problem has been addressed.

[2018-03-03 00:57] #109 closed

[2018-03-08 09:26] MAXHAOZHANG opened #110 "Does this support AMD GPUs?"
### Issue summary
#### Does this repo support AMD GPUs  in Windows?

### Steps to reproduce

[2018-04-04 01:07] SGShen opened #111 "Does clCaffe support Quantization Layers introduced by Ristretto Caffe"
I have a Caffe model file which has a "quantization_param". When feed that into clCaffe, an error occurs:

[libprotobuf ERROR google/protobuf/text_format.cc:274] Error parsing text-format caffe.NetParameter: 20:22: Message type "caffe.LayerParameter" has no field named "quantization_param".

The quantization layers are introduced by Ristretto Caffe. Does clCaffe currently support that? Or is there

[2018-04-25 03:29] jstumpin opened #112 "Driver incompatibility"
### Issue summary
Latest Intel Graphic Driver for NUC7i7BN ([15.65.4.4944](https://downloadcenter.intel.com/download/27628/Intel-HD-Graphics-Driver-for-Windows-10-for-Intel-NUC-Kit-NUC7i3BN-NUC7i5BN-and-NUC7i7BN?product=95065)) breaks FP16 support. Resolved by rolling back to previous version ([15.60.2.4901](https://downloadcenter.intel.com/download/26947/NUCs-Intel-HD-Graphics-Driver-for-Windows-

[2018-05-19 10:59] kodonnell commented on #64
I'm seeing this issue. I can confirm that I also have the [correct header](https://github.com/01org/caffe/issues/64#issuecomment-326251217).

Actually ... now it all works. I didn't rebuild anything ... just ran the tuning a bit and interrupted etc. Anyway - I did see it first time, but not now. I'll provide more detail if I see it again.

[2018-05-23 03:06] MengNan-Li opened #117 "build/examples/yolo/yolo_detect The detect result is wired."
Please use the [caffe-users list](https://groups.google.com/forum/#!forum/caffe-users) for usage, installation, or modeling questions, or other requests for help.
_Do not post such requests to Issues._ Doing so interferes with the development of Caffe.

Please read the [guidelines for contributing](https://github.com/BVLC/caffe/blob/master/CONTRIBUTING.md) before submitting this issue.

### Issue

[2018-06-22 06:39] qmzpg opened #118 "MobileNetSSD couldn't find any detections when using Intel HD Graphics"
I used caCaffe to run mobilenetSSD. My Computer has two GPU Cards. GPU0 is Navid GTX960, GPU1 is Intel HD Graphics. My CPU is i7-4790.
I used GPU0 to run MobileNetSSD ,and the result is good.
When I used CPU mode tu run MobileNetSSD,the result is also good.
However, next, I used GPU1 to run MobileNetSSD, it produce the information: " detection_output_layer.cu:  Couldn't find any detections".
How d

[2018-08-06 07:12] Leooo48 opened #119 "ISAAC exception"
When running a code using clCaffe, I run into a problem as follows (after initializing net):
[code]
what can I do to solve this? Thanks a lot.

[2018-08-14 09:09] #117 closed

[2018-08-16 17:25] welldonexing commented on #110
ofcourse

[2018-08-23 07:32] Jeffwhen opened #120 "exported target does not contain proper include directories"
Why comment these lines?

https://github.com/01org/caffe/blob/2df19aecd42b485240683f84842bbea5d80b5912/src/caffe/CMakeLists.txt#L92-L96

[2018-10-23 07:09] twmht commented on #119
@Leooo48

same problem here, did you solve?

[2018-12-05 00:40] willshw commented on #104
Item 2, has not been corrected.

[2019-01-18 19:13] fiorano10 commented on #108
Did you figure out what the problem was?

[2019-02-14 15:20] rbeltranb commented on #120
I have to uncomment those lines to solve [this](https://groups.google.com/forum/#!topic/caffe-users/vhjlaqv3wUk) error.

[2019-04-18 02:12] Jiang1206 commented on #108
I also encountered this problem, is there a solution?

[2019-04-18 03:02] fiorano10 commented on #108
@Jiang1206 I encountered this problem on a 8th intel cpu with UHD 630

[2019-04-18 03:15] Jiang1206 commented on #108
@fiorano10 It  looks like the problem with the viennacl driver and the SDK installation, but I still don't know how to fix it. If you have a solution, please let me know.

[2019-04-19 01:19] Jiang1206 commented on #108
Uninstalling the driver and SDK and then reinstalling can resolve this issue.
You can read this tutorial
https://blog.csdn.net/greenlight_74110/article/details/78446339

[2019-04-23 07:06] violet17 opened #121 "‘CV_LOAD_IMAGE_COLOR’ was not declared in this scope"
Please use the [caffe-users list](https://groups.google.com/forum/#!forum/caffe-users) for usage, installation, or modeling questions, or other requests for help.
_Do not post such requests to Issues._ Doing so interferes with the development of Caffe.

Please read the [guidelines for contributing](https://github.com/BVLC/caffe/blob/master/CONTRIBUTING.md) before submitting this issue.

### Issue

[2019-04-27 02:36] Jiang1206 opened #122 "viennacl::ocl::invalid_program_executable' what(): ViennaCL: FATAL ERROR: CL_INVALID_PROGRAM_EXECUTABLE."
When I run  ``build/examples/yolo/yolo_detect-fp16.bin models/yolo/yolo416/fused_yolo_deploy.prototxt models/yolo/yolo416/fused_yolo.caffemodel examples/images/fish-bike.jpg out_fp16.jpg``
The following error occurred
[code]

[2019-05-07 17:16] mahaoyanghb opened #123 "why HD Graphics 630 run classification slower than i5 7500 CPU?"
my environment:
windows 10 enterprise
cpu: i5 7500 3.4GHz 4Core
graphics: HD Graphics 630

I download this code ,and compile it by instruction in this website.
I add some code to measure forward time by clock() function.
clock_t start, finish;

start = clock();
for (int i = 0; i < 10;i++)
{
classifier.Classify(img);
}
finish = clock();
std::cout << "cost " << difftime(finish,start)/10<<" ms"<< std

[2019-09-25 02:35] catmasteryip opened #124 "‘CV_CAP_PROP_FRAME_COUNT’ was not declared in this scope during clCaffe compilation"
![Screenshot from 2019-09-25 10-34-53](https://user-images.githubusercontent.com/29121012/65564668-29b44a00-df80-11e9-8eb1-fb7b6b9e0f0c.png)
‘CV_CAP_PROP_FRAME_COUNT’ was not declared in this scope during clCaffe compilation

[2020-04-10 06:29] hzhshok opened #125 "received signal SIGSEGV, Segmentation fault caused by invalid kernel_index_ inside ConvolutionLayerSpatial<Dtype>::startTuning"
Please use the [caffe-users list](https://groups.google.com/forum/#!forum/caffe-users) for usage, installation, or modeling questions, or other requests for help.
_Do not post such requests to Issues._ Doing so interferes with the development of Caffe.

Please read the [guidelines for contributing](https://github.com/BVLC/caffe/blob/master/CONTRIBUTING.md) before submitting this issue.

### Issue